# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
/sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
/Logs/*
/Klassenzimmer_Data/
*.exe
/UnityCrashHandler64 
Player.dll
/MonoBleedingEdge/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/

# ============= #
# IDE generated #
# ============= #
/.idea/*

# ========================= #
# License restricted assets #
# ========================= #
/Assets/MORPH3D*
/Assets/Student_Movement/*

# ================= #
# Node.js generated #
# ================= #
/Assets/StreamingAssets/dist
/Assets/StreamingAssets/dist.meta